In [5]:
def maximum(a,b,c):
    if(a>b and a>c):
        print( "a is maximum number",a)
    elif(b>a and b>c):
        print( "b is maximum number",b)
    else:
         print("c is maximum number",c)

In [6]:
maximum(1,2,3)

c is maximum number 3

In [8]:
def listsum(num):
    sum=0
    for i in num:
        sum=sum+i
    return sum

In [9]:
print(listsum([1,2,3,4,5]))

15

In [12]:
def listmultiply(num):
    total=1
    for i in num:
        total =total*i
    return total

In [13]:
print(listmultiply([1,2,3,4,5]))

120

In [14]:
def reverse(string2):
    string1=""
    index = len(string2)
    for i in string2:
        string1=string1+string2[index-1]
        index=index-1
    return string1

In [15]:
reverse("bharat")

'tarahb'

In [16]:
def factorial(n):
    if(n<0):
        print("the number is negative")
    elif(n==1):
        return 1
    else:
        return n*factorial(n-1)

In [17]:
factorial(5)

120

In [21]:
def num(num):
    if num in range(30):
        return "the number is in range"
    else:
        return "the number is not in range"

In [23]:
num(20)

'the number is in range'

In [24]:
def tocheckuppercase(string1):
    upper=0
    lower=0
    for i in string1:
        if i.isupper():
            upper=upper+1
        else:
            lower=lower+1
    print("lower letter= ",lower)
    print("upper letter= ", upper)

In [26]:
tocheckuppercase("helloPYTHON")

lower letter=  5
upper letter=  6

In [30]:
def uniquelist(list1):
    set1=set({})
    for i in list1:
        set1.add(i)
    return list(set1)

In [31]:
uniquelist([1,2,3,4,5,5,65,6])

[1, 2, 3, 4, 5, 65, 6]

In [33]:
def unique(list1):
    list2=[]
    for i in list1:
        if i not in list2:
            list2.append(i)
    return list2

In [34]:
unique([1,2,3,4,5,566,76,7,88,8,8,8])

[1, 2, 3, 4, 5, 566, 76, 7, 88, 8]

In [55]:
def prime(n):
    if(n==1):
        print("the number is prime")
    elif(n==2):
        return True
    else:
        for i in range(2,n):
            if(n%i==0):
                return False
        else:
            return True

In [57]:
prime(9)

False

In [60]:
def even(num):
    list1=[]
    for i in num:
        if(i%2==0):
            list1.append(i)
        else:
            pass
    return list1

In [61]:
even([1,2,3,4,5])

[2, 4]

In [8]:
def perfect(num):
    sum=0
    for i in range(1,num):
        if(num%i==0):
            sum=sum+i
    return sum==num

In [11]:
perfect(28)

True

In [15]:
def palendrom(string1):
    if(string1==string1[::-1]):
        print("the number is palendrom")
    else:
        print("the number is not palendrom")

In [17]:
palendrom("palap")

the number is palendrom

In [27]:
def sortstring(string1):
    item=[x for x in string1.split("-")]
    item.sort()
    print('-'.join(item))

In [28]:
sortstring("hello-im-bharat")

bharat-hello-im

In [29]:
def square(num):
    list1=[]
    for i in num:
        list1.append(i**2)
    print(list1)

In [31]:
square(range(1,30))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841]

In [36]:
def add():
    a=10
    b=30
    string1="fhbvhsd"

In [39]:
print(add.__code__.co_nlocals)

3

In [1]:
def localvariable(num):
    a=10
    b=20
    c=30
    d="cvjnjofvn"
    print(a,b,c,d)

In [2]:
print(localvariable.__code__.co_nlocals)

5

In [3]:
import array
for name in array.__dict__:
    print(name)

__name__
__doc__
__package__
__loader__
__spec__
_array_reconstructor
ArrayType
array
typecodes

In [6]:
class Number:
    pass
for name in Number.__dict__:
    print(name)

__module__
__dict__
__weakref__
__doc__

In [16]:
class Info:
    def __init__(self,address,name):
        self.address=address
        self.name=name

In [17]:
 b = Info('jsdjsd','sdnfjds')

In [18]:
print(b.name,b.address)

sdnfjds jsdjsd

In [19]:
print(b.__dict__)

{'address': 'jsdjsd', 'name': 'sdnfjds'}

In [22]:
import builtins
help(builtins.abs)

Help on built-in function abs in module builtins:

abs(x, /)
    Return the absolute value of the argument.

In [23]:
print(builtins.abs(-155))

155

In [31]:
class Student:
    pass
class Marks:
    pass
student1=Student()
marks1=Marks()
print(isinstance(student1,Student))
print(isinstance(marks1,Marks))
print(isinstance(student1,Marks))
print(isinstance(marks1,Student))
print(issubclass(Student,object))
print(issubclass(Marks,object))

True
True
False
False
True
True