In [1]:
def even(list1):
    for i in list1:
        if(i%2==0):
            print(i)
        else:
            pass

In [ ]:
even(1)

# Write a Python function to find the Max of three numbers. Go to the editor

In [2]:
def max(a,b,c):
    if(a>b and a>c):
        print("maximum number is a :",a)
    elif(b>a and b>c):
        print("maximum number is b :",b)
    else:
        print("maximum number is c :",c)

In [4]:
max(10,20,30)

maximum number is c : 30

# Write a Python function to sum all the numbers in a list.

In [6]:
def sum(list1):
    sum=0
    for i in list1:
        sum=sum+i
    print("the sum is :",sum)

In [7]:
sum([1,2,3,4,5])

the sum is : 15

In [9]:
#Write a Python function to multiply all the numbers in a list.

In [14]:
def multiply(list1):
    total=1
    for i in list1:
        total=total*i
    print("the multiplication of all is",total)

In [15]:
multiply([1,2,3,4,5])

the multiplication of all is 120

In [ ]:
#Write a Python program to reverse a string

In [18]:
def reverse(string1):
    string2=''
    length=len(string1)
    for i in string1:
        string2=string2+string1[length-1]
        length=length-1
    print("the reverse string is",string2)

In [17]:
reverse('bharat')

the reverse string is tarahb

In [19]:
def reverse(string1):
    string2=string1[::-1]
    print(string2)

In [20]:
reverse('bharat')

tarahb

# Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number as an argument.

In [22]:
def factorial(num):
    if(num<0):
        print("please enter valid input")
    elif(num<2):
        return 1
    else:
        return num*factorial(num-1)

In [25]:
factorial(-10)
factorial(5)

please enter valid input

120

In [26]:
 #Write a Python function to check whether a number falls in a given range.

In [27]:
def check(num):
    if num in range(100):
        print("the number is in range")
    else:
        print("the number is not in range")

In [29]:
check(12)
check(122)

the number is in range
the number is not in range

In [30]:
 #Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.

In [65]:
def count(string1):
    upper=0
    lower=0
    for i in string1:
        if i.isupper():
            upper=upper+1
        elif i.islower():
            lower=lower+1
        else:
            pass
    print("the upper letters are:",upper)
    print("the lower letter are :",lower)

In [64]:
count("hello PYTHON")

the upper letters are: 6
the lower letter are : 5

In [66]:
#Write a Python function that takes a list and returns a new list with unique elements of the first list.

In [68]:
def unique(list1):
    list2=[]
    for i in list1:
        if i not in list2:
            list2.append(i)
    print(list2)

In [69]:
unique([1,2,3,4,4,4])

[1, 2, 3, 4]

In [72]:
def uniqu(list1):
    list2=list(set(list1))
    print(list2)

In [73]:
uniqu([1,2,3,3,3,4])

[1, 2, 3, 4]

In [74]:
#Write a Python function that takes a number as a parameter and check the number is prime or not.

In [75]:
def prime(num):
    if(num==1):
        return False
    elif(num==2):
        return False
    else:
        for i in range(3,num):
            if(num%i==0):
                return False
        else:
            return True

In [79]:
print(prime(11))
print(prime(9))

True
False

In [80]:
#Write a Python program to print the even numbers from a given list.Except[4,6,8]

In [97]:
def even(list1):
    for i in list1:
        if(i%2==0):
            if(i==4 or i==6 or i==8):
                continue
            print(i)
        else:
            pass

In [99]:
even([1,2,3,4,5,6,67,7,8,89,9,10,20])

2
10
20

In [100]:
#Write a Python function to check whether a number is perfect or not.

In [110]:
def perfect(num):
    sum=0
    for i in range(1,num):
        if(num%i==0):
            sum=sum+i
        else:
            pass
    if(num==sum):
        return True
    else:
        return False

In [112]:
print(perfect(6))
print(perfect(9))

True
False

In [113]:
#Write a Python function that checks whether a passed string is palindrome or not.

In [114]:
def palendrom(string1):
    string2=''
    length=len(string1)
    for i in string1:
        string2=string2+string1[length-1]
        length=length-1
    if(string2==string1):
        return True
    else:
        return False

In [115]:
print(palendrom('papa'))
print(palendrom('lal'))

False
True

# Write a Python program that accepts a hyphen-separated sequence of words as input and printsthe words in a hyphen-separated sequence after sorting them alphabetically.

In [19]:
data=[x for x in input().split('-')]
data.sort()
print('-'.join(data))

wdhfds-dsgh-Aa-dshjha-aaasdfd-jhcdfj
Aa-aaasdfd-dsgh-dshjha-jhcdfj-wdhfds

In [ ]:
#Write a Python function to create and print a list where the values are square of numbers between 1 and 30 (both included).

In [25]:
def squares():
    for i in range(1,31):
        print(i**2)

In [24]:
squares()

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900

In [22]:
#Write a Python program to detect the number of local variables declared in a function.

In [33]:
print(squares.__code__.co_nlocals)

1