In [3]:
def add(a,b):
    return a+b

In [4]:
add(2,3)

5

In [5]:
def add():
    a=3
    b=4
    c=a+b
    return c

In [6]:
add()

7

In [11]:
def info(name,address):
    return name,address

In [12]:
info("bharat","ddl")

('bharat', 'ddl')

In [13]:
def febo(n):
    if(n<2):
        return 1
    else:
        return febo(n-1)+febo(n-2)

In [14]:
febo(5)

8

In [16]:
def fact(n):
    if(n<1):
        return 1
    else:
        return n*fact(n-1)

In [17]:
fact(5)

120

In [40]:
a=1
b=1
temp=0
print(a)
print(b)
for i in range(10):
    if(i>2):
        temp=a
        a=b
        b=temp+a
        print(b)

1
1
2
3
5
8
13
21
34

In [43]:
s="paap"
if s==s[::-1]:
    print("palendrom")
    
else:
    print("not palendrom")

palendrom

In [44]:
def max(a,b,c):
    if(a>b and a>c):
        print("max is a :",a)
    elif(b>a and b>c):
        print("b is max:",b)
    else:
        print("c is max:",c)

In [47]:
max(30,20,40)

c is max: 40

In [48]:
def max(a,b):
    if(a>b):
        print("a is max:", a)
    else:
        print("b is max:",b)

In [49]:
max(20,40)

b is max: 40

In [59]:
def sum(number):
    total=0
    for x in number:
        total=total+x
    
    return total

In [60]:
sum([1,2,3])

6

In [67]:
def multiply(num):
    total=1
    for x in num:
        total=total*x
    return total

In [68]:
multiply([3,4,5])

60

In [77]:
def reverse(string):
    restring = ''
    index =len(string)
    while(index>0):
        restring=restring+(string[index-1])
        index=index-1
    return restring

In [78]:
reverse("bharat")

'tarahb'

In [88]:
def number(num):
    if num in range(10):
        return num
    else:
        return "not in range"

In [89]:
number(8)

8

In [95]:
def list1(list2):
    set1=set({})
    for i in list2:
        set1.add(i)
    return list(set1)

In [96]:
list1([1,2,3,4,5,6,6,6])

[1, 2, 3, 4, 5, 6]

In [123]:
def num(n):
    for x in range(2,n):
        if(n%x==0):
            print("not prime")

In [129]:
num(11)

In [139]:
def test_prime(n):
    if (n==1):
        return False
    elif (n==2):
        return False;
    else:
        for x in range(2,n):
            if(n % x==0):
                return False
        return True             
print(test_prime(11))

True

In [154]:
def even(list1):
    list2=[]
    for num in list1:
        if(num%2==0):
            list2.append(num)
    return list2

In [155]:
even([1,2,3,4,5,6])

[2, 4, 6]