In [1]:
def maximum(a,b,c):
    if(a>b and b>c):
        print("a is maximum :",a)
    elif(b>a and b>c):
        print("b is maximum :",b)
    else:
        print("c is maximum :",c)

In [2]:
maximum(30,40,50)

c is maximum : 50

In [3]:
def sum(num):
    total=0
    for i in num:
        total=total+i
    return total

In [4]:
sum([1,2,3,4,4])

14

In [7]:
def multiply(num):
    total=1
    for i in num:
        total = total*i
    return total

In [8]:
multiply([1,2,3,4,5])

120

In [9]:
def reverse(string1):
    string2=''
    index=len(string1)
    for i in string1:
        string2=string2+string1[index-1]
        index=index-1
    return string2

In [10]:
reverse("bharat")

'tarahb'

In [20]:
def factorial(num):
    if(num<0):
        print("the number is negative")
    elif(num==1):
        return 1
    else:
        for i in range(1,num):
            return num*factorial(num-1)

In [23]:
factorial(3)

6

In [26]:
def num(n):
    if n in range(1,20):
        print("the number is in range")
    else:
        print("the number is not in range")

In [28]:
num(200)

the number is not in range

In [31]:
def upperandlower(string1):
    upper=0
    lower=0
    for i in string1:
        if i.isupper():
            upper=upper+1
        else:
            lower=lower+1
    print("total upper element =",upper)
    print("total lower element =",lower)

In [32]:
upperandlower("jfdkjdfKHT")

total upper element = 3
total lower element = 7

In [33]:
def unique(list1):
    list2=[]
    for i in list1:
        if i not in list2:
            list2.append(i)
        else:
            pass
    return list2

In [34]:
unique([1,2,3,4,4,5])

[1, 2, 3, 4, 5]

In [35]:
def unique(list1):
    set1=set({})
    for i in list1:
        set1.add(i)
    return list(set1)

In [36]:
unique([1,2,3,4,4,5,6,6])

[1, 2, 3, 4, 5, 6]

In [44]:
def prime(num):
    if(num==1):
        print("the number is prime")
    elif(num==2):
        print("the number is not prime")
    else:
        for i in range(2,num):
            if(num%i==0):
                return False
        else:
            return True

In [46]:
prime(9)

False

In [50]:
def even(list1):
    list2=[]
    for i in list1:
        if(i%2==0):
            list2.append(i**2)
        else:
            pass
    return list2

In [51]:
even([1,2,3,43,4])

[4, 16]

In [52]:
def perfect(num):
    sum=0
    for i in range(1,num):
        if(num%i==0):
            sum=sum+i
    return sum==num

In [54]:
perfect(9)

False

In [57]:
def palendrom(string1):
    if(string1==string1[::-1]):
        return "the string is palendrom"
    else:
        return "the string is not palendrom"

In [59]:
palendrom("palap")

'the string is palendrom'

In [62]:
def sorting(string1):
    item=string1.split("-")
    item.sort()
    sortedstring= '-'.join(item)
    return sortedstring

In [63]:
sorting("hello-im-python-developer")

'developer-hello-im-python'

In [64]:
def square(num):
    list1=[]
    for i in num:
        list1.append(i**2)
    return list1

In [65]:
square(range(1,31))

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900]

In [73]:
def make_bold(fn):
    def wrapped():
        return "<b>" + fn() + "</b>"
    return wrapped

def make_italic(fn):
    def wrapped():
        return "<i>" + fn() + "</i>"
    return wrapped

def make_underline(fn):
    def wrapped():
        return "<u>" + fn() + "</u>"
    return wrapped
@make_bold
@make_italic
@make_underline
def hello():
    return "hello world"
print(hello()) ## returns "<b><i><u>hello world</u></i></b>"

<b><i><u>hello world</u></i></b>

In [94]:
def fun():
    a=2
    b=12
    c="local"
    return a,b,c
print(fun.__code__.co_nlocals)

3

In [96]:
string1="hello python developer"
len(string1)

22

In [97]:
def countcharacters(string):
    total=0
    for i in string:
        total=total+1
    return total

In [100]:
countcharacters("bharatbhandari")

14

In [103]:
def char_frequency(str1):
    dict = {}
    for n in str1:
        keys = dict.keys()
        
        if n in keys:
            dict[n] += 1
        else:
            dict[n] = 1
    return dict
print(char_frequency('google.com'))

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [2]:
string1="dsnvkdsjanvafdsknkdsnla"
len(string1)

23

In [7]:
def string1(string2):
    dict={}
    for i in string2:
        keys=dict.keys()
        if i in keys:
            dict[i]=dict[i]+1
        else:
            dict[i]=1
    return dict

In [8]:
string1("dsnjdfsanncvb")

{'d': 2, 's': 2, 'n': 3, 'j': 1, 'f': 1, 'a': 1, 'c': 1, 'v': 1, 'b': 1}

In [11]:
def newstring(string1):
    if (len(string1)<2):
        return ' '
    return string1[0:2]+string1[-2::]

In [13]:
newstring("ns")

'nsns'

In [26]:
def characterrreplace(string1):
    string2=" "
    for i in string1:
        if i in string2:
            string2=string2+'$'
        else:
            string2=string2+i
    return string2

In [27]:
characterrreplace("ndfjasas")

' ndfjas$$'

In [42]:
def characterrreplace(string1):
    string2=" "
    for i in string1:
        if i in string1[0]:
            string2=string2+'$'
        else:
            string2=string2+i
    return string2

In [40]:
characterrreplace("sdbjskdj")

' sdbjskdj'

In [66]:
def string1(string2):
    char=string2[0]
    print(char)
    string1=string2.replace(char,"$")
    string1= char+string1[1:]
    return string1

In [67]:
string1("dhfjede")

d

'dhfje$e'