Number: int, float, complex
String: str

Containers:
    list
    tuple
    set
    dict

In [2]:
a=2

type(a)

int

In [3]:
a=2.3
type(a)

float

In [9]:
c=23333222324

In [7]:
type(c)

int

In [10]:
a='python'

In [12]:
type(a)

str

In [14]:
for i in a:
    print(i)

p
y
t
h
o
n

In [16]:
a="iam bharat bhandari"
a.split(" ")

['iam', 'bharat', 'bhandari']

# string formate in python

In [19]:
a=2
b=21
name='bharat'

In [29]:
"iam {0}.iam{1} years old".format(name,a+b)

'iam bharat.iam23 years old'

In [31]:
"iam"+name+".iam"+str(a+b)+"years old"

'iambharat.iam23years old'